@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html ng-app="ag">
<head>
    <!-- Render Scripts -->
    @Styles.Render("~/Content/css");



    <title>Azgeda Turyalon</title>

    <!-- Render Vendor Scripts -->
    @Styles.Render("_/bundles/libraries");

</head>
<body ng-controller="agMainController as vm">
    <header>
        <h1>Hello, Azgeda!</h1>
    </header>
    <nav>@*  TODO  *@</nav>
    <div ui-view>
        @*  Main Content View  *@
    </div>

    <footer>@*  TODO  *@</footer>
</body>
</html>